* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

:root {
  --color-dark-blue:hsl(240, 38%, 20%);
  --color-light-blue:hsl(240, 18%, 77%); }

a {
  text-decoration: none;
  color: inherit; }

img {
  display: block; }

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  overflow-x: hidden;
  background-image: url("../images/pattern-curve.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 700px; }

.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative; }
  .slider-image {
    margin: 0 auto;
    display: flex;
    position: relative; }
    .slider-image .user-image {
      width: 250px;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
      position: relative;
      margin-top: 2.3rem;
      border-radius: 10px; }
      @media (min-width: 740px) {
        .slider-image .user-image {
          width: 350px; } }
    .slider-image .bg {
      position: absolute;
      width: 385px;
      top: 0;
      z-index: -1;
      left: -41%; }
      @media (min-width: 740px) {
        .slider-image .bg {
          width: 476px;
          left: -29%;
          top: -2%; } }
    @media (min-width: 740px) {
      .slider-image {
        order: 2; } }
  .slider-description {
    text-align: center;
    font-size: 1.5rem;
    position: relative;
    margin-top: 3rem;
    letter-spacing: 0.2px;
    line-height: 1.4; }
    @media (min-width: 740px) {
      .slider-description {
        order: 1;
        text-align: left;
        position: relative;
        left: calc(100% - 92%);
        z-index: 10; } }
  .slider-description::before {
    position: absolute;
    content: "";
    top: -4rem;
    left: 35%;
    font-size: 15rem;
    opacity: 0.4;
    line-height: 1;
    z-index: -1;
    background-image: url("../images/pattern-quotes.svg");
    background-size: cover;
    width: 100px;
    height: 100px; }
    @media (min-width: 740px) {
      .slider-description::before {
        left: 10%; } }
  .slider-user {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem; }
    .slider-user span {
      font-size: 1rem; }
    @media (min-width: 740px) {
      .slider-user {
        flex-direction: row; } }
    .slider-user :first-child {
      font-weight: 700;
      color: var(--color-dark-blue); }
    .slider-user :last-child {
      color: var(--color-light-blue); }
  .slider-buttons {
    background-color: #fff;
    padding: 0.59rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    position: absolute;
    display: flex;
    justify-content: space-between;
    border-radius: 50px;
    width: 75px;
    bottom: -13px;
    left: 37%; }
    .slider-buttons button {
      background: transparent;
      border: none;
      cursor: pointer; }
    @media (min-width: 740px) {
      .slider-buttons {
        left: 10%; } }
  @media (min-width: 740px) {
    .slider {
      max-width: 850px;
      width: 100%;
      flex-direction: row;
      align-items: center; } }

.left-animation {
  animation: fromLeft 0.5s ease-in;
  -webkit-animation: fromLeft 0.5s ease-in; }

@keyframes fromLeft {
  0% {
    transform: translateX(-5%);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

.right-animation {
  animation: fromRight 0.5s ease-in;
  -webkit-animation: fromRight 0.5s ease-in; }

@keyframes fromRight {
  0% {
    transform: translateX(10%);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

.bottom-animation {
  animation: fromBottom 0.5s ease-in;
  -webkit-animation: fromBottom 0.5s ease-in; }

@keyframes fromBottom {
  0% {
    transform: translateY(20%);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

.textAnimation {
  animation: text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
  -webkit-animation: text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both; }

@keyframes text-clip {
  from {
    clip-path: polygon(0% 0%, 0 100%, 0 100%, 0% 0%); }
  to {
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0%); } }

footer {
  margin-top: 4rem; }
